/* ~~~~~ GLOBAL RULES ~~~~~ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 2px black solid;
}

.main {
  display: flex;
  flex-direction: column;
  color: #BFC1C5;
  background-color: #242938;
}

/* ******** top container ******** */
.top-container {
  border: 2px #EF3B82 solid;
  display: flex;
  justify-content: center;
  flex-grow: 4;
}

.top-article {
  border: 2px #FFE481 dotted;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: inherit;

}

.title {
  margin-top: 8%;
  padding: 5%;
}

.user-info {
  display: flex;
  padding: 3%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-stats {
  border: 2px #34E4C7 solid;
}

.sleep {
  display:flex;
  flex-direction: row-reverse;
}

/* ******* friends container ******* */
.friend-container {
  border: 2px #EF3B82 solid;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  justify-content: space-around;
}

/* ******* bottom container ******* */
.bottom-container {
  border: 2px #EF3B82 solid;
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

.bottom-article {
  border: 2px #FFE481 dotted;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: inherit;
}

.user-graph {
  border: 2px #34E4C7 solid;
}

@media only screen and (max-device-width: 812px)
{

  * {
    font-size: 1.15em;
  }

  /* ******** top container ******** */

  .main {
    /* height: 100vh; */
  }

  .top-article {
    justify-content: space-around;
  }

  .user-info {
    width: 45vh;
  }

  .stats-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 25% 65%;
  }

  /* ******* friend container ******* */
  .friend-container {
    flex-direction: column;

  }

  /* ******* bottom container ******* */

}
